# LED EFFECTS
# https://github.com/julianschill/klipper-led_effect/blob/master/docs/LED_Effect.md
# 
# ACTIVATING AND DEACTIVATING EFFECTS
# Our example effect can be activated by running the GCode command SET_LED_EFFECT EFFECT=panel_idle. To stop all effects 
# which are currently running on the LEDs the new effect is using, set the REPLACE parameter to 1: SET_LED_EFFECT 
# EFFECT=panel_idle REPLACE=1 Running the command SET_LED_EFFECT EFFECT=panel_idle STOP=1 deactivates this particular 
# effect again. To deactivate all effects we can use the GCode command STOP_LED_EFFECTS. To only deactivate effects 
# for certain LEDs we can specify the LEDS parameter: STOP_LED_EFFECTS LEDS="neopixel:panel_ring" You can also specify 
# indeces (see below): STOP_LED_EFFECTS LEDS="neopixel:panel_ring (1-7)". Only one LED parameter can be specified at a time. 
# To stop the effects for multiple LEDs we have to run the command multiple times.
# 
# FADING IN AND OUT
# Effects can be faded in and out by specifying the FADETIME parameter: SET_LED_EFFECT EFFECT=panel_idle FADETIME=1.0 fades 
# the effect in during one second. Running SET_LED_EFFECT EFFECT=panel_idle STOP=1 FADETIME=1.0 fades it out in one second. 
# We can also fade out all effects by running STOP_LED_EFFECTS FADETIME=1.0. It is also possible to crossfade effects 
# by using the REPLACE parameter with SET_LED_EFFECT (see above): SET_LED_EFFECT EFFECT=panel_idle REPLACE=1 FADETIME=1.0.

#####################################################################
#   Effect Macros
#####################################################################

[gcode_macro RESET_LEDS]
gcode:
    STOP_LED_EFFECTS

#####################################################################
#   Neopixel Definitions
#####################################################################

[neopixel hotend_rgb]
pin: ebb:PD3
chain_count: 3
color_order: GRBW
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0
initial_WHITE: 0.12

[neopixel display]
pin: PC12
chain_count: 3
initial_RED: .19
initial_GREEN: .1
initial_BLUE: .06
color_order: RGB

[neopixel chamber_skirt]
pin: PD3
chain_count: 52
color_order: GRBW
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0
initial_WHITE: 0.1